/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/08/2024, 11:45:56 PM
    Author     : jjuan
*/

 /* Cuerpo de la página login*/
            .login-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100vh;
                background-color: #f8f9fa;
                padding: 20px;
            }
            .login-header {
                padding-top: 0;
                margin-bottom: 5px;

            }
            h1{
                font-size: 3.8rem; 
                font-weight: bold; 
            }
            .login-body {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 1200px; 
                padding: 20px; 
            }
            .login-body .icon-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0;
                margin-right: 180px; 
                text-align: center;
                width: 350px; 
                height: 500px;
            }
            .login-body .icon-text i {
                font-size: 7rem; 
                margin: 0;
                color: #007bff;
            }
            .login-body .icon-text p {

                font-size: 1.5rem;
                margin-top: 50px;
                margin-bottom: 0;
                font-weight: bold; 
            }
            .login-form {
                flex: 1;
                background-color: #ffffff;
                padding: 30px; 
                border-radius: 8px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
                width: 100%;
                max-width: 500px; 
            }
            .login-form label {
                display: block;
                margin-bottom: 10px;
                font-size: 1.25rem; 
            }
            .login-form .form-check-label {
                display: block;
                margin-top: 10px;
                font-size: 1rem; 
            }
            .login-registro {
                width: 100%;
                max-width: 500px; 
                padding: 20px; 
            }
            /* Estilo del botón */
            .ingresar {
                border-radius: 25px; 
                font-weight: bold; 
                width: 100%; 
            }
            .botones {
                border-radius: 25px; 
                font-weight: bold; 
                width: 45%; 
                margin: 0 10px; 
            }
            .texto-stile {
                padding-top: 5px;
                text-align: center;
                font-weight: bold;
                margin-bottom: 20px;
            }
            .login-btn {
                display: flex;
                justify-content: center;
                gap: 10px; 
                margin-top: 10px;
            }